<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <!-- {{todos}} -->
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>Task_name</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
               
                {%for task in todos%}
               <tr>
                <td>{{task.id}}</td>
                <td>{{task.task_name}}</td>
                <td>{{task.user}}</td>
                <td>{{task.created_date}}</td>
                <td>{{task.status}}</td>
                <td>
                    <a href="{%url 'todo-detail' task.id%}" class="btn btn-info">Detail</a>
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="{%url 'todo-delete' task.id%}" class="btn btn-danger">Delete</a>
                </td>
                </tr>
                {%endfor%}
            </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
   
</body>
</html>